In [27]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier


%matplotlib inline

In [12]:
df = pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ML0101EN-SkillsNetwork/labs/Module%203/data/teleCust1000t.csv')

In [13]:
df.head(10)

,region,tenure,age,marital,address,income,ed,employ,retire,gender,reside,custcat
0,2,13,44,1,9,64.0,4,5,0.0,0,2,1
1,3,11,33,1,7,136.0,5,5,0.0,0,6,4
2,3,68,52,1,24,116.0,1,29,0.0,1,2,3
3,2,33,33,0,12,33.0,2,0,0.0,1,1,1
4,2,23,30,1,9,30.0,1,2,0.0,0,4,3
5,2,41,39,0,17,78.0,2,16,0.0,1,1,3
6,3,45,22,1,2,19.0,2,4,0.0,1,5,2
7,2,38,35,0,5,76.0,2,10,0.0,0,3,4
8,3,45,59,1,7,166.0,4,31,0.0,0,5,3
9,1,68,41,1,21,72.0,1,22,0.0,0,3,2

In [15]:
X=df[["income","age"]]
y=df[["custcat"]]

In [22]:

scaler = StandardScaler()

X=scaler.fit(X).transform(X.astype(float))

In [25]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=4)

In [29]:
k=4
model=KNeighborsClassifier(n_neighbors=k).fit(X_train, y_train)

c:\Users\yldrm\anaconda3\envs\env-adi\Lib\site-packages\sklearn\neighbors\_classification.py:233: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [31]:
y_pred=model.predict(X_test)
y_pred

array([4, 4, 2, 1, 4, 3, 3, 4, 3, 1, 3, 2, 1, 4, 3, 1, 3, 2, 3, 1, 2, 1,
       2, 2, 1, 3, 3, 1, 2, 1, 1, 1, 3, 2, 4, 2, 1, 1, 3, 1, 1, 1, 1, 2,
       1, 2, 1, 1, 3, 4, 4, 3, 1, 2, 3, 2, 3, 4, 4, 2, 3, 3, 4, 2, 4, 1,
       1, 2, 1, 1, 1, 3, 2, 2, 1, 4, 1, 1, 3, 1, 1, 1, 3, 1, 4, 1, 3, 1,
       2, 1, 1, 3, 1, 1, 2, 2, 3, 2, 2, 1, 2, 1, 3, 1, 2, 1, 3, 4, 3, 1,
       1, 1, 1, 3, 2, 1, 1, 3, 1, 1, 3, 2, 2, 2, 3, 1, 1, 4, 1, 2, 3, 2,
       1, 3, 3, 1, 2, 1, 1, 1, 2, 3, 4, 2, 3, 1, 3, 3, 1, 4, 2, 2, 2, 2,
       3, 2, 4, 1, 2, 1, 2, 3, 1, 1, 3, 3, 1, 1, 3, 2, 1, 1, 1, 2, 4, 4,
       3, 2, 2, 1, 1, 1, 1, 1, 3, 1, 3, 2, 3, 2, 3, 2, 2, 2, 4, 4, 4, 4,
       3, 3], dtype=int64)

In [34]:
from sklearn import metrics
print(metrics.accuracy_score(y_train,model.predict(X_train)))
print(metrics.accuracy_score(y_test,y_pred))

0.5675
0.245